body {
  font-family: "Courier New", Courier, monospace;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
}

.navbar > .container {
  justify-content: center;
}

.list-group-item {
  border: none;
}

.btn {
  background-color: var(--secondary-color);
  width: 100%;
}

.pokemon-list {
  list-style-type: none;
  display: grid;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
